<div class="container">
    <div class="box-center">
        <br><br>
        <div class="orange-box"><br><br><br><br><br><br><br></div>
        <div style="margin-left: 10%;">Hola Alan</div>
        <br>
        <div style="margin-left: 10%;">
            <p> <strong>Solicitaste registrarte,</strong>
            ingresa a la siguiente liga para continuar con tu proceso y configura tu cuenta nueva.</p> 
        </div>
        <br>
        <div class="col-md-12 text-center">
            <button type="button" class="custom-button">Ir a la plataforma</button>
        </div>
        <br><br>
    </div>
  
    <div class="fixed-bottom text-center p-3">
        <p>
            La informacion contenida en el presente correo es propiedad de ©Bykon y contituye información confidencial, y
            se proporciona solo con fines informativos y con motivo de cotización, por lo que queda expresamente prohibida
            la reproduccion total o parcial por cualquier medio, asi como su distribución a personas o empresas que no cuenten
            con autorización expresa de ©Bykon
        </p>
    </div>
</div>